@model List<PR2_WEBCORE.Models.Categorium>

@{
    ViewData["Title"] = "Categorías";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Catoegira</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
</head>

<div class="container mt-5">
    <h1>Lista de Categorías</h1>
    <p>
        <a asp-controller="Categoria" asp-action="Create" class="btn btn-primary">Crear Nueva</a>
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Porcentaje</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var categoria in Model)
            {
                <tr>
                    <td>@categoria.IdCagegoria</td>
                    <td>@categoria.Descripcion</td>
                    <td>@categoria.Porcentaje</td>
                    <td>
                        <a asp-controller="Categoria" asp-action="Edit" asp-route-id="@categoria.IdCagegoria" class="btn btn-warning">Editar</a> |
                        <a asp-controller="Categoria" asp-action="Details" asp-route-id="@categoria.IdCagegoria" class="btn btn-info">Detalles</a> |
                        <a asp-controller="Categoria" asp-action="Delete" asp-route-id="@categoria.IdCagegoria" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
